#graph-container {
    overflow-x: auto;
    /* overflow-y: hidden; */
    white-space: nowrap;
    display: block;
    max-height: 22vh;
}

#graph-container > [class^="col-"] {
    display: inline-block;
    float: none;
    max-height: 19vh;
}

#graph-container::-webkit-scrollbar {
    height: 1vh;
}

#graph-container::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

#graph-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #7570b3;
}

#map-container {
    padding: 1%;
    padding-left: 2%;
}

#flight-map-from-container, #flight-map-to-container {
    max-width: 45%;
    padding: 0;
}

.colourblind-label {
    color: white !important;
    padding-right: 10px;
    margin: auto;
    padding-left: 10px;
    border-left: 1px solid white;
    margin-left: 10px;
}

.nav-item {
    color: white;
}

#colorblind-mode-input {
    margin: auto;
}

#timezone-input {
    margin: auto;
    padding-left: 10px;
}

#price-hist .axistext, #co2-hist .axistext, #duration-hist .axistext {
    display: none;
}