#graph-container {
    overflow-x: auto;
    /* overflow-y: hidden; */
    white-space: nowrap;
    display: block;
    max-height: 18vh;
}

#graph-container > [class^="col-"] {
    display: inline-block;
    float: none;
    max-height: 15vh;
}

#graph-container::-webkit-scrollbar {
    height: 1vh;
}

#graph-container::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

#graph-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #9ab6e6;
}

#map-container {
    padding: 1%;
    padding-left: 2%;
}

#flight-map-from-container, #flight-map-to-container {
    max-width: 45%;
    padding: 0;
}

.colourblind-label {
    color: white !important;
    padding-right: 10px;
    margin: auto;
}

#colorblind-mode-input {
    margin: auto;
}

#timezone-input-container {
    padding-top: 2vh;
    max-height: 12vh;
    text-align: center;
}

#timezone-input {
    rotate: 90deg;
    padding-left: calc(100% - 10vh);
}